---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="NSE Internacional">
	<div class="container">
			<h1>Home</h1>
			<p>Welcome to the home page</p>
	</div>
</BaseLayout>
