---
---

<div class="join flex">
  <div class="w-full">
    <div>
      <input class="input input-bordered join-item w-full" placeholder="Buscar"/>
    </div>
  </div>
  <div class="flex-none">
    <select class="select select-bordered join-item">
      <option disabled selected>Categoría</option>
      <option>Sci-fi</option>
      <option>Drama</option>
      <option>Action</option>
    </select>
  </div>
</div>