---
const navlinks = [
  ['Inicio', '/' ],
  ['Quiénes somos', '/quienes-somos' ],
  ['Radio', '/radio' ],
  ['TV', '/tv' ],
  ['Cine', '/cine' ],
  ['Contacto', '/contacto' ]
]
---

<div class="drawer z-50">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="w-full navbar bg-white border-b">
      <div class="flex-none">
        <a href="/">
          <img src="/logo-nse.png" alt="Logo NSE Internacional"></a>
        </a>
      </div>
      <div class="w-full">
        <div class="hidden lg:block mx-auto">
          <ul class="menu menu-horizontal">
            {navlinks.map(([title, url]) => (
              <li><a href={url} class="uppercase">{title}</a></li>
            ))}
          </ul>
        </div>
      </div>
      <div class="flex-none hidden lg:flex">
        <a target="_blank" rel="noopeer" href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=2XUCGTB2QA9DC" class="btn bg-red-700 hover:bg-red-800 border-0 text-white">DONAR</a>
      </div>
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </label>
      </div> 
    </div>
  </div> 
  <div class="drawer-side">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label> 
    <ul class="menu p-4 w-80 min-h-full bg-base-200">
      {navlinks.map(([title, url]) => (
        <li><a href={url} class="uppercase">{title}</a></li>
      ))}
      <li>
        <a target="_blank" rel="noopeer" href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=2XUCGTB2QA9DC" class="text-red-700 font-bold">DONAR</a>
      </li>
    </ul>
  </div>
</div>