---
import { Image } from 'astro:assets';
---
<section>
  <swiper-container autoplay="true" pagination="true">
    <swiper-slide class="relative">
      <Image 
        src="https://admin.nseinternacional.org/public/nseinternacional/assets/libdvhvfyk0o8cw0?key=slider"
        alt="Parábolas de la Oveja y la Dracma perdidas"
        width="1800"
        height="550"
        class="min-h-[150px]"
      />
      <div class="absolute top-0 left-0 w-full h-full flex items-center bg-black/30">
        <div class="container">
          <div class="max-w-[600px] space-y-5">
            <h1 class="md:text-4xl text-xl font-semibold text-white drop-shadow-lg text-balance">Parábolas de la Oveja y la Dracma perdidas</h1>
            <a href="https://youtu.be/asPZNS6Rlfk" target="_blank" rel="noopener" class="btn bg-white border-none text-primary">Saber más</a>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>

<script>
	import { register } from 'swiper/element/bundle';
	register();
</script>

<style>
	swiper-container {
    width: 100%;
    height: 100%;
    --swiper-pagination-color: #fff;
    --swiper-pagination-size: 10px;
  }

  swiper-slide {
    font-size: 18px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
